configuration {
    modes: "window,run,ssh,drun";
    sorting-method: "normal";
    show-icons: true;
    matching: "regex";
    drun-match-fields: "name";
    display-run: "menu:";
    display-ssh: "ssh:";
    display-drun: "  ";
    display-window: "windows:";
}

@theme "theme"

* {
    font: "Iosevka 12";

    background-color: transparent;
    text-color: @fg0;

    margin: 0px;
    padding: 0px;
    spacing: 0px;
}

window {
    location: center;
    width: 480;
    y-offset: -20;

    border-radius: 0px;
    border: 1px;
    border-color: rgba(203, 166, 247, 0.5);

    background-color: rgba(30, 30, 46, 0.85);
    blur: true;
}

mainbox {
    padding: 1px;
    background-color: @bg0;
}

inputbar {
    background-color: rgba(49, 50, 68, 0.85);
    border-radius: 0px;
    border: 1px;
    border-color: rgba(203, 166, 247, 0.5);

    padding: 8px 16px;
    spacing: 8px;
}

prompt {
    text-color: @accent;
    background-color: transparent;
}

entry {
    text-color: @fg0;
    placeholder: "search";
    placeholder-color: @magenta;
    background-color: transparent;
}

listview {
    background-color: rgba(49, 50, 68, 0.85);
    margin: 12px 0 0;
    columns: 1;
    lines: 4;
    fixed-height: false;
}

element {
    padding: 6px 2px;
    spacing: 10px;
    border-radius: 0px;
    background-color: rgba(49, 50, 68, 0.85);
}

element normal urgent {
    text-color: @red;
}

element normal active {
    text-color: @accent;
}

element selected normal,
element selected active {
    background-color: rgba(203, 166, 247, 0.2);
}

element-icon {
    size: 1em;
    vertical-align: 0.5;
}

element-text {
    text-color: inherit;
    background-color: transparent;
}

message {
    margin: 12px 0 0;
    border-radius: 0px;
    border: 1px;
    border-color: rgba(203, 166, 247, 0.5);
    background-color: rgba(49, 50, 68, 0.85);
}

textbox {
    padding: 8px 24px;
    background-color: rgba(49, 50, 68, 0.85);
}
